.container-cadastroLogin-agente {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cadastroLogin-agente {
    width: 40%;
    margin-top: 40px;
}

.cadastroLogin-agente-botao button {
    width: 100%;
    margin-top: 30px;
}

.denuncias-card {
    width: 700px;
    display: flex;
    flex-direction: row;
    padding: 20px;
    background-color: #D9D9D9;
    justify-content: space-between;
    margin-top: 15px;
}

.denuncias-card-infomacoes {
    display: flex;
    gap: 10px;
}

.denuncias-card-botoes {
    display: flex;
    gap: 10px;
    align-items: center;
}

.denuncias-card-infomacoes p {
    margin: 0;
}

.denuncias-card-infomacoes div {
    background-color: white;
    padding: 10px;
    border-radius: 6px;
}

.agente-dados {
    font-size: 18px;
    font-weight: 300;
    margin: 0;
}

.editar-container {
    display: flex;
    gap: 10px;
}


/* Tela de usuarios */
.usuarios-card {
    width: 800px;
    display: flex;
    flex-direction: row;
    padding: 20px;
    background-color: white;
    justify-content: space-between;
    margin-top: 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.usuarios-card-infomacoes {
    display: flex;
    gap: 10px;
}

.usuarios-card-botoes {
    display: flex;
    gap: 10px;
    align-items: center;
}

.usuarios-card-infomacoes p {
    margin: 0;
}

.usuarios-card-infomacoes div {
    padding: 10px;
    border-radius: 6px;
}

.truncated-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
}


.botao-cadastrar-usuario {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.dropdown-item a {
    width: 100%;
}

.dropdown-item button {
    width: 100%;
}

.dropdown-item:focus, .dropdown-item:active {
    background-color: rgba(0, 0, 0, 0.1);
}



@media (max-width: 940px) {
    .cadastroLogin-agente {
        width: 80%;
    }

    .denuncias-card {
        width: 540px;
        padding: 10px;
    }

    .denuncias-card-infomacoes div p {
        font-size: 12px;
    }

    .denuncias-card-botoes button {
        font-size: 12px;
    }

    .denuncias-card-botoes a {
        font-size: 12px;
    }

    .usuarios-card{
        width: 540px;
        padding: 10px;
    }

    .usuarios-card-infomacoes p{
        font-size: 12px;
    }

    .usuarios-card-botoes button{
        font-size: 12px;
    }

    .usuarios-card-botoes a{
        font-size: 12px;
    }

}

@media (max-width: 680px) {
    .denuncias-titulo {
        font-size: 18px;
    }

    .denuncias-card {
        width: 420px;
    }

    .denuncias-card-infomacoes div p {
        font-size: 8px;
    }

    .denuncias-card-botoes button {
        font-size: 8px;
    }

    .denuncias-card-botoes a {
        font-size: 8px;
    }

    .denuncias-titulo {
        font-size: 18px;
    }

    .usuarios-titulo{
        font-size: 18px;
    }

    .usuarios-card{
        width: 420px;
    }

    .usuarios-card-infomacoes p{
        font-size: 10px;
    }

    .usuarios-card-botoes button{
        font-size: 8px;
    }

    .usuarios-card-botoes a{
        font-size: 8px;
    }

    .botao-cadastrar-usuario {
       font-size: 10px;
    }


}

@media (max-width: 480px) {

    .botao-cadastrar-usuario {
        margin-bottom: 30px;
     }

    .truncated-text {
        width: auto;
    }
    .denuncias-card {
        width: 300px;
    }

    .usuarios-card{
        width: 300px;
    }
}

@media (max-width: 410px) {
    .denuncias-card {
        width: 280px;
    }

    .usuarios-card{
        width: 280px;
    }
}