<div class="secao container-cadastroLogin-agente">
    <div class="card cadastroLogin-agente">
        <div class="card-body">
            <form action="/agente/cadastrar" method="POST">
                <div class="mb-3">
                    <label class="mb-2" for="nome">Nome</label>
                    <input type="text" name="nome" id="nome" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="cpf">CPF</label>
                    <input maxlength="14" type="text" name="cpf" id="cpf" class="form-control"
                        placeholder="000.000.000-00" required>
                </div>
                <div class="mb-3">
                    <label class="mb-2" for="email">E-mail</label>
                    <input type="email" name="email" id="email" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label class="mb-2" for="senha">Senha</label>
                    <input type="password" name="senha" id="senha" class="form-control" required>
                </div>
                <div class="form-check mb-3">
                    <input type="checkbox" name="admin" id="admin" class="form-check-input">
                    <label class="form-check-label" for="admin">Administrador</label>
                </div>
                <div class="mb-3 cadastroLogin-agente-botao">
                    <button type="submit" class="btn btn-success">Cadastrar</button>
                </div>
            </form>
        </div>
    </div>
</div>