<main>
    <div class="fundo-imagem">
        <div class="fundo-imagem-texto">
            <h1>Sistema de Denúncias Ambientais</h1>
            <p>O Sistema de Cadastro de Denúncia de Crimes Ambientais é um software de registro e acompanhamento de
                denúncias que facilita a denúncia anônima e o monitoramento de crimes ambientais em tempo real,
                conectando cidadãos e autoridades de forma prática e eficiente.</p>
        </div>
    </div>

    <section class="secao-apresentação secao">
        <div class="secao-apresentação-texto">
            <h5>Sistema de Denúncias Ambientais</h5>
            <p>Ao contrário de métodos tradicionais de denúncia, como telefone ou formulários físicos. O sistema de
                cadastro de crimes ambientais oferece uma plataforma digital intuitiva e acessível, agilizando o
                processo de combate aos crimes ambientais.</p>
        </div>
    </section>

    <section class="secao-passos-texto-cadastro secao-passos-texto secao">
        <h3>Como Realizar a Denúncia?</h3>
        <p>1. Acesse o <span>Formulario de Cadastro</span>: <br> No menu principal, você verá
            uma opção chamada <a href="/denuncia/registrar">“Cadastrar”</a>. Clique
            nela
            para iniciar o processo.</p>

        <p>2. Preencha o Formulário de Denúncia: <br> Na tela de cadastro, você precisará fornecer algumas
            informações
            importantes sobre o crime ambiental que deseja denunciar. Os campos obrigatórios incluem:</p>
        <ul>
            <li>Título: Resumo breve do crime (ex.: "Desmatamento em Área de Preservação").</li>
            <li>Descrição: Explique detalhadamente o que você presenciou. Inclua informações como o local, data e
                possíveis envolvidos.</li>
            <li>Localização: Indique onde ocorreu o crime (endereço, cidade, ou coordenadas, se possível).</li>
            <li>Data: Quando o crime ocorreu ou foi notado.</li>
            <li>Evidências (opcional): Caso tenha fotos, você pode anexá-los para ajudar na investigação.</li>
        </ul>
    </section>

    <section class="secao-passos-texto-consulta secao-passos-texto secao">
        <h3>Como Consultar a Denúncia?</h3>
        <p>Acompanhe o <span>Status da Denúncia</span>: <br> Para verificar o andamento da sua denúncia, No menu
            principal, você verá uma opção chamada <a href="/denuncia/consultar">“Consultar”</a>. Insira o número de
            protocolo para visualizar o status atual (como "em análise", "em investigação", "resolvida", entre outros).
        </p>
    </section>

    <section class="secao-contato secao">
        <h3>Contatos</h3>
        <div class="container-secao-contato">
            <i class="bi bi-telephone"></i>
            <p>(91) 9999-9999</p>
        </div>
        <div class="container-secao-contato">
            <i class="bi bi-envelope"></i>
            <p>suporte123@gmail.com</p>
        </div>
    </section>
</main>